/*Paleta de cores:  #283D3B #197278 #EDDDD4 #C44536 #772E25 */

:root {
  --tamanho_cabeçalho: 45px;
  --cor_fundo_escura: #283618;
  --cor_fundo_menos_escura: #606C38;
  --cor_clara: #FEFAE0;
  --cor_destaque_clara: #DDA15E;
  --cor_destaque_escura: #BC6C25;
  --cor_preta: #000;
}

