/*Paleta de cores:  #283D3B #197278 #EDDDD4 #C44536 #772E25 */

:root {
  --tamanho_cabeçalho: 45px;
  --cor_fundo_escura: #283D3B;
  --cor_fundo_menos_escura: #197278;
  --cor_clara: #EDDDD4;
  --cor_destaque_clara: #C44536;
  --cor_destaque_escura: #772E25;
  --cor_preta: #000;
}

