:root{
  --cor-preta: #000;
  --cor-branca: #fff;

  --cor-deep-taupe: #7E6C6C;
  --cor-cornflower-blue: #5C95FF;
  --cor-uranian-blue: #B9E6FF;
  --cor-light-coral: #F87575;
  --cor-melon: #FFA9A3;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*
    font-family: 'Big Shoulders Stencil Text', cursive;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Slab', serif;

    fonte pra título: Big Shoulders Stencil Text
    fonte pro corpo: Roboto
    fonte formal/serifada pra algum detalhe: Roboto Slab

    a largura do texto ficar ou 888 ou 999 ou 1111
*/