.box {
  display: inline-block;
  background-color: var(--cor_fundo_escura);
  box-shadow: 8px 8px 1px var(--cor_preta);
  text-align: center;
  padding: 44px 55px;
}

.box h1 {
  margin-bottom: 18px;
}