.cp-box {
  display: inline-block;
  background-color: var(--cor_fundo_escura);
  box-shadow: 5px 5px 1px var(--cor_preta);
  text-align: center;
  padding: 44px 55px;
}

.cp-box h1 {
  margin-bottom: 18px;
}