.cp-skill {
  display: flex;
  font-family: 'Arvo', serif;
  font-size: 25px;
  color: var(--cor_clara);
}

.cp-skill .icon {
  margin-right: 25px;
}

.cp-skill img {
  width: 80px;
  height: 80px;
}

.cp-skill .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}