.cp-section {
  padding-top: 50px;
  padding-bottom: 60px;
  border-bottom: 8px solid var(--cor_preta);
}

.cp-section .cp-title {
  margin-bottom: 50px;
}

.cp-section.-bg-destaque-escuro {
  background-color: var(--cor_destaque_escura);
}

.cp-section.-bg-fundo-menos-escuro {
  background-color: var(--cor_fundo_menos_escura);
}

.cp-section.-bg-fundo-discord {
  background-color: var(--cor_discord_escura);
}

.cp-section.-bg-preto {
  background-color: var(--cor_preta);
}

.cp-section.-borda-b-preta {
  border-bottom: 8px solid var(--cor_preta);
}

.cp-section.-borda-b-destaque-clara {
  border-bottom: 8px solid var(--cor_destaque_clara);
}

.cp-section.-borda-b-destaque-escura {
  border-bottom: 8px solid var(--cor_destaque_escura);
}