.main-nodes {
  /*align-items: center;*/
  justify-content: space-evenly;
  position: relative;
  display: flex;
}

.main-nodes::after {
  content: "";
  position: absolute;
  left: 100px;
  top: 35px;
  display: block;
  height: 4px;
  width: calc(100% - 200px);
  background-color: var(--cor_preta);
}

.main-nodes::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 35px;
  display: block;
  width: 100%;
  border: 2.5px dashed var(--cor_preta);
}

.main-nodes .botao-seta {
  position: absolute;
  bottom: 55px;
}