main{
  /*height: 100%; ALTERAR ISSO*/
  width: 80%;
  /*text-align: center;*/
  background-color: rgba(22,22,22,0.88);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  color: #eee;
  font-size: 18px;
}

