.main-nodes {
  /*align-items: center;*/
  display: flex;
  justify-content: center;
  position: relative;
}

.main-nodes::after {
  content: "";
  position: absolute;
  left: 100px;
  top: 35px;
  display: block;
  height: 4px;
  width: calc(100% - 200px);
  background-color: var(--cor_preta);
}

.main-nodes::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 35px;
  display: block;
  width: 100%;
  border: 2.5px dashed var(--cor_preta);
}

.main-nodes .botao-seta {
  position: absolute;
  bottom: 55px;
}

.main-nodes .grupo-node-cards {
  width: calc(100% - 200px);
  overflow: hidden;
}

.main-nodes .grupo-nc-interno {
  display: flex;
  justify-content: space-around;
  transition: transform 100ms ease-in-out;
}