.main-form {
  padding-right: 40px;
  padding-left: 40px;
}

.main-form .cp-input {
  margin-bottom: 20px;
}

.main-form .cp-input.-textarea {
  margin-bottom: 40px;
}

.main-form .cp-botao {
  color: var(--cor_clara);
  font-size: 32px;
  font-weight: 600; /*a grossura*/
  text-decoration: none;
}

.main-form .cp-botao:hover {
  transform: scale(1.01);
  cursor: pointer;
}